@model WeddingPlanner.Models.CreateWeddingViewModel
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WeddingPlanner</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Weddings" asp-action="DisplayDashboard">Dashboard</a></li>
            </ul>
            <div class="nav navbar-nav pull-right">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Plan Your Wedding</h1>
        </div>
    </div>
</div>
<div class="container">
    <form asp-controller="Weddings" asp-action="addwedding" method="POST">
        <div class="row">
            <div class="col">
                <h3>Wedder One: </h3>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                <input class="form-control" type="text" name="wedderone"><span class="text-danger" asp-validation-for="wedderone"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Wedder Two: </h3>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                <input class="form-control" type="text" name="weddertwo"><span class="text-danger" asp-validation-for="weddertwo"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Wedding Date: </h3>
                <p class="text-danger">@TempData["InvalidDate"]</span></p>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                <input class="form-control" type="date" name="date"><span class="text-danger" asp-validation-for="date"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Wedding Address: </h3>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-6">
                <input class="form-control" type="text" name="address"><span class="text-danger" asp-validation-for="address"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6">
                <button class="btn btn-success pull-right" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>